html,body{
  height:100%;
}
body {
  font-family: 'Open Sans', Helvetica, sans-serif;

}
.app .design{
  footer {
    position: fixed;
    //float: right;
    right: 0;
    top: 0;
    bottom: 0;
    width: 245px;
    height: 100%;
    padding: 2.5em;
    background: #f3f5f8;
    color: #545d65;
    font-size: 0.778em;
    line-height: 1;
    border-bottom: solid 1px #e3eaf3;
    border-left: 1px solid #e3eaf3;
  }
}

.app .design{

  ol {
    margin: 1.250em 0 2em;
    counter-reset: ordered-list;
    li {
       list-style: none;
       border-bottom: 1px solid #e3eaf3;
       padding: 1.250em 1.250em 1.250em 4em;
       &::before {
           content: counter(ordered-list);
           counter-increment: ordered-list;
           display: block;
           float: left;
           color: #c0d0e4;
           font-weight: 600;
           font-size: 30px;
           margin: -0.35em 0 0 -1.5em;
       }
    }
  }

  ul {
    margin: 0 0 1.875em;
    padding-left: 1.875em;
    list-style: none;

    li {
      margin: 5px 0 0;
      &::before {
        font-family: "FontAwesome";
        -webkit-font-smoothing: antialiased;
        content: '\F111';
        color: #c0d0e4;
        font-size: 0.813em;
        margin: 0 15px 0 -26px;
      }

      +ul {margin: 0;}
    }
  }
}





.icon-list-demo  {
  >i {
      margin:5px;
    font-size:2em;
  }
}



@media (min-width: 970px  ) {
  .app-content{
    height: 970px;
  }
}

@media (min-width: 480px ) and (max-width:970px){
  .app-content {
     height: 638px;
  }
}


.app {
  .user-info{
    overflow: hidden;
    position:relative;
    .left{
      float:left
    }

    .right{
      float:right
    }
  }



  .income{

    background-color:#ffffff;
    box-shadow: 0  3px 0 0 #DAE3EF;
    .income-container{
      min-height: 200px;
      height: 200px;
      .income-moneybar {
        float:left;
        width:60%;
        height:100%;
      }
      .income-action{
        text-align:center;
        float:left;
        height:100%;
        width:40%;
        border-left:1px solid #e0e0e0;
        ul {
          padding:0;
          >li{
            list-style: none;
            padding-left:1em;
            padding-right:1em;
            &:not(:last-child){
              padding-bottom:1em;
            }

          }
        }
      }
    }
  }
}
