.trowser{
    background: #496D8E!important;

  .trowser-left{
    label {
      color:#ffffff;
    }
  }

  .action-square {
    background: #496D8F!important;
    i {
      color:#fff
    }
  }


}
